main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
}
.divT{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    width: 100%;
}
.article{
    border: solid 3px black ;
    width: 60vw;
    display: flex;
    align-items: center;

}

h1{
    padding: 36px;
    font-family: 'Amatic SC',sans-serif;
}
h2{
    font-family: 'Amatic SC',sans-serif;
    padding: 0 36px;
}
p{
    padding: 36px;
}
.div2 img{
    padding: 36px;
    width: 100%;
    height: 24vw;
}
.icon{
    margin-left: 100px;
    cursor: pointer;
}
.icon :hover{
    color: blue;
}
.categorie{
  display: flex;
  gap: 30px;
}
.categories{
    display: flex;
    justify-content: center;
    gap: 19vw;
    margin-left: 30vw;
}
#btn{
    border: solid 0px black ;
    background: #e7ede8;
    width: 120px;
    height: 40px;
    border-radius: 0px;
    font-family: 'Amatic SC',sans-serif;
    font-size: 22px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.categories button:hover{
    color: rgb(89, 89, 89);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  .popup-content form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 26vw;
    height: auto;
  }
  .popup-content form select{
    border: solid 1px black;
    width: 24vw;
    height: 36px;
  }
  .popup-content form input{
    border: solid 1px black;
    width: 24vw;
    height: 36px;
    padding: 16px;
  }
  .popup-content form textarea{
    border: solid 1px black;
    width: 16vw;
    height: 6vw;
    padding: 4px;
  }
  .popup-content form button{
    border: solid 1px black;
    width: 100px;
    height: 30px;
  }
  #fermer{
    margin-top: 20px;
    border: solid 1px black;
    width: 100px;
    height: 30px;
    float: right;
  }
  .popup-content form button:hover{
    background-color: black;
    color: white;
  }
  #fermer:hover{
    background-color: rgb(255, 0, 0);
    color: white;
  }
  .checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chek{
    gap: 10px;
    display: flex;
    align-items: center;
  }
  #box{
    width: 20px;
  }
  .input{
    display: flex;
    justify-content: center;
    align-items: center;

  }